body {
    background: #0e0f16;   /* dark background */
    color: white;          /* text color */
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 12px 10px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #e0e0ff;
}

h1 {
    color: white;
}
